<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7915e29499d28e32792616ef9a431efe {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7915e29499d28e32792616ef9a431efe" ></div>
        
</body>
<script>    
    
            var map_7915e29499d28e32792616ef9a431efe = L.map(
                "map_7915e29499d28e32792616ef9a431efe",
                {
                    center: [40.7935, -111.9802],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_62ab5c2d84e4f14648935168722a553f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7915e29499d28e32792616ef9a431efe);
        
    
            var feature_group_de899241c360b43579a44c5017ea050a = L.featureGroup(
                {}
            ).addTo(map_7915e29499d28e32792616ef9a431efe);
        
    
            var marker_63a22eb53acdbdbd53e6b938e3164ee1 = L.marker(
                [40.7935, -111.9802],
                {}
            ).addTo(feature_group_de899241c360b43579a44c5017ea050a);
        
    
            var icon_4773256349c21acac6dfefbbcbe3e287 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_63a22eb53acdbdbd53e6b938e3164ee1.setIcon(icon_4773256349c21acac6dfefbbcbe3e287);
        
    
        var popup_2b13f04e6efb72a5f206680e13760457 = L.popup({"maxWidth": "100%"});

        
            var html_5f5134b611f0434424cc8d720f0e6124 = $(`<div id="html_5f5134b611f0434424cc8d720f0e6124" style="width: 100.0%; height: 100.0%;">SLC Airport, <a href="https://open.spotify.com/track/6ZSTinOwx5dKFYc6iYyGDn?si=73aab16d89e545b0", target="_blank">Leaving on a jet plane</a></div>`)[0];
            popup_2b13f04e6efb72a5f206680e13760457.setContent(html_5f5134b611f0434424cc8d720f0e6124);
        

        marker_63a22eb53acdbdbd53e6b938e3164ee1.bindPopup(popup_2b13f04e6efb72a5f206680e13760457)
        ;

        
    
    
            var marker_d077b8955961f21c93ef2252d32f0b98 = L.marker(
                [40.6244, -111.9936],
                {}
            ).addTo(feature_group_de899241c360b43579a44c5017ea050a);
        
    
            var icon_619074a612ece7f13e787051339e717b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d077b8955961f21c93ef2252d32f0b98.setIcon(icon_619074a612ece7f13e787051339e717b);
        
    
        var popup_f28ec9d0073eecafdc52fc98b04cba22 = L.popup({"maxWidth": "100%"});

        
            var html_ce6ac308d245eb720facfabd3f602cec = $(`<div id="html_ce6ac308d245eb720facfabd3f602cec" style="width: 100.0%; height: 100.0%;">Little Airport, <a href="https://open.spotify.com/track/0xKNTDmIym4R2TfKnS4FQo?si=fe808f7bdf044a34", target="_blank">Airplane pt 2</a></div>`)[0];
            popup_f28ec9d0073eecafdc52fc98b04cba22.setContent(html_ce6ac308d245eb720facfabd3f602cec);
        

        marker_d077b8955961f21c93ef2252d32f0b98.bindPopup(popup_f28ec9d0073eecafdc52fc98b04cba22)
        ;

        
    
    
                var lat_lng_popup_a949d2f17b8c115845d1319d1787f827 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_a949d2f17b8c115845d1319d1787f827
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_7915e29499d28e32792616ef9a431efe);
                    }
                map_7915e29499d28e32792616ef9a431efe.on('click', latLngPop);
            
</script>